build==1.2.2.post1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
cmake==3.31.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (os_name == "nt" or platform_system == "Windows")
h5py==3.12.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
imageio==2.36.1 ; python_version >= "3.11" and python_version < "4.0"
imutils==0.5.4 ; python_version >= "3.11" and python_version < "4.0"
kagglehub==0.3.5 ; python_version >= "3.11" and python_version < "4.0"
lazy-loader==0.4 ; python_version >= "3.11" and python_version < "4.0"
networkx==3.4.2 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
opencv-python==4.10.0.84 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.11" and python_version < "4.0"
progressbar2==4.5.0 ; python_version >= "3.11" and python_version < "4.0"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
python-utils==3.9.1 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
scikit-image==0.24.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.14.1 ; python_version >= "3.11" and python_version < "4.0"
tifffile==2024.12.12 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
